---
#master1
---

    /*---------------------------------------------------*/
@import "general_mixins_1";
    /*---------------------------------------------------*/
@mixin backface_visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}
@mixin preserve_3d ($arguments) {
  -webkit-transform-style: $arguments;
  -moz-transform-style: $arguments;
  -o-transform-style: $arguments;
  transform-style: $arguments;
}

.preserve3d{
  @include preserve_3d(preserve-3d);
}

$slab_color: yellow;

body,html{
  background:white;
}





        /*--------------------------------------*/
        /*--------------------------------------*/


        /*--------------BB Furniture Positions---------------*/
        /*--------------BB Furniture Positions---------------*/

/*-----------------------------------------BB window styles -----------------------------------*/
.window_style_1{
  /*figure.left,figure.right,figure.back,figure.front{background:orange;}*/
  figure.top{background:white;opacity:.15;}
  figure.botom{background:lightyellow;/*opacity:.15;*/}
}

.window_plywood{
  figure.top{background:white;opacity:.15;}
  figure.bottom{
    background-image: url("/responsive_shapes/images/plywood_2.png");
    background-size:cover;
    background-position:center bottom;
    background-repeat:no-repeat;
    }
}

#window_box_1 { 
  position:absolute;/*z-index:4;*/
  transform: /*rotate(13deg);*/rotateY(90deg) rotateX(90deg) translate3d(-24.75vw /*X*/, -1.85vw /*Y*/, 0 /*Z*/) rotate(0deg);
  top:31.95vw; 
}

#window_box_2 { 
  position:absolute;/*z-index:4;*/
  transform: /*rotate(13deg);*/rotateY(180deg) rotateX(90deg) translate3d(-18.75vw /*X*/, -1vw /*Y*/, 0 /*Z*/) rotate(0deg);
  top:33.15vw; 
}

#window_box_3 { 
  position:absolute;/*z-index:4;*/
  transform: /*rotate(13deg);*/rotateY(180deg) rotateX(90deg) translate3d(-47vw /*X*/, -1vw /*Y*/, 0 /*Z*/) rotate(0deg);
  top:33.15vw; 
}
/*-----------------------------------------EE window styles -----------------------------------*/

.circle_1 {
  position:absolute;
  $circ1:10vw;
  display: block;
  background: yellow;
  border-radius: 100%;
  height:$circ1;
  width: $circ1;
  left: 30vw;top:17vw;
  transform-style:preserve-3d;
  transform: translateX(-12vw) translateY(-10vw) translateZ(50vw);
  background: radial-gradient(circle at $circ1 $circ1, #fff, #ffffe6/*lightest yellow*/);
    
-webkit-box-shadow: 10px 10px 225px 75px rgba(255,255,255,1);
-moz-box-shadow: 10px 10px 225px 75px rgba(255,255,255,1);
box-shadow: 10px 10px 225px 75px rgba(255,255,255,1);
}
.circle_1:before {
  content: "";
  position: absolute;
  background: radial-gradient(circle at 50% 120%,  rgba(255, 255, 255, 0.5), rgba(240, 209, 128, 0.5) /*rgba(255, 255, 255, 0)*/ 70%);
  border-radius: 50%;
  bottom: 2.5%;
  left: 5%;
  opacity: 0.6;
  height: 100%;
  width: 90%;
  -webkit-filter: blur(5px);
  z-index: 2;
}







#tv_box_object { 
  /*transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) rotate(27deg);
  top:40vw;*/
  background:blue;
  height:14vw;
  width:20vw;
  top:33vw;
  transform:rotateY(90deg) rotateX(90deg) rotate(27deg) translateX(-37vw) translateY(5vw) translateZ(-10vw);
  transform-origin:50% 50%; 
}



#table_1 { 
  /*transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) rotate(27deg);
  top:40vw;*/
  top:33vw;
  transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) translateZ(0vw) rotate(27deg);
  transform-origin:50% 50%; 
}

#chair_1{ 
  position:absolute;
  transform: /*rotate(13deg);*/rotateY(90deg) rotateX(90deg) translate3d(-14vw /*X*/, -19vw /*Y*/, 0 /*Z*/) rotate(57deg);
  top:35vw; 
}

        /*--------------EE Furniture Positions---------------*/
        /*--------------EE Furniture Positions---------------*/






        /*--------------BB Furniture Colors/Materials/Textures---------------*/
        /*--------------BB Furniture Colors/Materials/Textures---------------*/
#chair_1 .my_slab figure {
border:none;
  } 

#table_1 .my_slab figure  {background:brown;border:none;}

#chair_1_shadow .my_slab figure {
border:none;
  }
        /*--------------EE Furniture Colors/Materials/Textures---------------*/
        /*--------------EE Furniture Colors/Materials/Textures---------------*/







        /*--------------BB Furniture Animations---------------*/
        /*--------------BB Furniture Animations---------------*/
#chair_1{  
  animation:infinite-spinning-with-rotation 5s linear, inf 10s linear, inf-2 5s linear   ; 
  animation-delay:0s, 5s, 15s;
  animation-fill-mode: forwards;
}

/*#table_1 { 
  animation:infinite-spinning-with-rotation 12s linear  ; 
  animation-delay:0s, 0s, 0s;
  animation-fill-mode: forwards;
}*/


@keyframes infinite-spinning-with-rotation {
  from { 


   transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) rotate(0deg);
  }
  to { 

   transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) rotate(290deg);
  }
}  
 


@keyframes inf {
  
  from {    top:35vw; 
    transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) rotate(290deg);/*transform-origin:50% 50%;*/
  }
  to { top:20vw;
    transform:rotateY(-110deg) rotateX(110deg) translateX(-27vw) translateY(-20vw) rotate(10deg);/*transform-origin:50% 50%;*/
  }
  
}

@keyframes inf-2 {
  
  from {    top:20vw;
    transform:rotateY(-110deg) rotateX(110deg) translateX(-27vw) translateY(-20vw) rotate(10deg);
  }
  to {    top:35vw;
       transform:rotateY(90deg) rotateX(90deg) translateX(-27vw) translateY(-20vw) rotate(230deg);
  }
  
}





.my_slaber figure, figure {
  display: block;
  margin: 0;
  position: absolute;
  opacity: 1; 
}


.my_slaber .panels-backface-invisible figure { 
  @include backface_visibility(hidden);
}

.my_slaber { 
  @include preserve_3d(preserve-3d);
  width: 100%;
  height: 100%; 
  position:absolute;
}  

.my_slaberr .panels-backface-invisible figure { @include backface_visibility(hidden)}

.my_slaberr { 
  @include preserve_3d(preserve-3d);
  width: 100%;
  height: 100%; 
  position:absolute;
}
