---
#scenesetter
---

#table_1 {
  position:absolute;
  left:8vw;top:10vw;
  transform: rotate(23deg);
}

#table_2 {
  position:absolute;
  left:35vw;top:3vw;
  transform: rotate(115deg);
}



#basic_chair_1 {
  position:absolute;
  left:65vw;top:12vw;
  transform: rotate(73deg);
}

