---
#scenesetter
---

#mid_century_table_1 {
  position:absolute;
  left:8vw;top:10vw;
  transform: rotate(23deg);
}

#basic_chair_1 {
  position:absolute;
  left:15vw;top:7vw;
  transform: rotate(73deg);
}
