---
#scenesetter
---

#mid_century_table_1 {
  position:absolute;
  left:8vw;top:10vw;
  transform: rotate(23deg);
}

#mid_century_table_2 {
  position:absolute;
  left:85vw;top:6vw;
  transform: rotate(2deg);
}



#basic_chair_1 {
  position:absolute;
  left:65vw;top:12vw;
  transform: rotate(73deg);
}

