---
#staticshade1
---




#table_1 figure {
  box-sizing: content-box;
  transform-style: preserve-3d;
  /* background: rgba(0, 0, 0, .5); */
  box-shadow-blend-mode: color-dodge;
  blend-mode: screen;
}

#table_1 figure div {
  background: /* rgba(0, 0, 0, .2); */ brown;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, .5), inset 0px 0px 50px rgba(0, 0, 0, .4);
  box-shadow-blend-mode: color-dodge;
}



#table_1 figure.right {
  background: /* #888; */ brown;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
  background-size: 300% 300%;
  animation: leftAnimation 8s;
  animation-fill-mode:forwards;
}

#table_1 figure.left {
  background: /* #888; */ brown;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
  background-size: 300% 300%;
  animation: leftAnimation 8s linear;
  animation-fill-mode:forwards;

}

#table_1 figure.top {
  background: /* #888; */ #d2a679;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 30%);
  background-size: 400% 400%;
  animation: topAnimation 8s linear;
  animation-fill-mode:forwards;	
}
	
#table_1 figure.bottom {
  background: /* #888; */ brown;
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
  background-size: 300% 300%;
  animation: topAnimation 8s linear;
  animation-fill-mode:forwards;
}
	
.big_three_d_box figure.toper, .big_three_d_box figure.lefter {
  background:  #888; 
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
  background-size: 300% 300%;
  animation: wallAnimation 8s linear;
  animation-fill-mode:forwards;
}

.big_three_d_box figure.righter { 
	
}






/*---------------------BB keframes----------------------*/
/*---------------------BB keframes----------------------*/

@keyframes groundAnimation {
  0%,
  100% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
}

@keyframes topAnimation {
  0%,
  100% {
    background: #c68c53;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
    background-size: 400% 400%;
    background-position: 50% 0;
  }
  50% {
    background: #996633;  
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
    background-size: 400% 400%;
    background-position: 100% 50%;
  }
}

@keyframes leftAnimation {
  0%,
  100% {
    background: #663300;
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200%);
    background-size: 200% 200%;
    background-position: -100% 100%;
  }
  50% {
    background: #d9b38c;  
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200%);
    background-size: 200% 200%;
    background-position: 100% 100%;
  }
}
@keyframes wallAnimation {
  0%,
  100% {
    background: #888;
   /* background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200%);*/
    background-position: 50% 0%;
  }
  50% {
    background: #111;  
   /* background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200%);*/
    background-position: 100% 50%;
  }
}
@keyframes shadowAnimation {
  0%,
  100% {
    box-shadow: 0px -100px 100px rgba(0, 0, 0, 1), 0px -20px 20px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);
  }
  50% {
    box-shadow: 100px 0px 100px rgba(0, 0, 0, 1), 20px 0px 20px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);
  }
}



/*-------BB---- .top  ,  .bottom -----------*/
/*-------BB---- .top  ,  .bottom -----------*/
#table_1{
  figure.left, figure.right {
    background:  #888; 
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: backAnimation 8s linear;
    animation-fill-mode:forwards;
    @keyframes backAnimation {
      0%,
      100% {
        background: #d2a679;
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 400% 400%;
        background-position: 50% 0;
      }
      50% {
        background: #d9b38c;  
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 300% 300%;
        background-position: 100% 50%;
      }
    }
  }	  
}
/*-------EE---- .top  ,  .bottom -----------*/
/*-------EE---- .top  ,  .bottom -----------*/



/*-------BB---- .left  ,  .right -----------*/
/*-------BB---- .left  ,  .right -----------*/
#table_1{
  figure.left, figure.right {
    background:  #888; 
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: backAnimation 8s linear;
    animation-fill-mode:forwards;
    @keyframes backAnimation {
      0%,
      100% {
        background: red;

      }
      50% {
        background: blue;  

      }
    }
  }	  
}
/*-------EE---- .left  ,  .right -----------*/
/*-------EE---- .left  ,  .right -----------*/


    @keyframes backAnimation {
      0%,
      100% {
        /*background: #d2a679;*/
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 400% 400%;
        background-position: 50% 0;
      }
      50% {
       /* background: #d9b38c; */ 
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 300% 300%;
        background-position: 100% 50%;
      }
    }


/*-------BB---- .front  ,  .back -----------*/
/*-------BB---- .front  ,  .back -----------*/
#table_1{
  figure.front, figure.back {
    background:  #888; 
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: backAnimation 8s linear;
    animation-fill-mode:forwards;
    @keyframes backAnimation {
      0%,
      100% {
        background: #d2a679;
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 400% 400%;
        background-position: 50% 0;
      }
      50% {
        background: #d9b38c;  
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 300% 300%;
        background-position: 100% 50%;
      }
    }
  }
}
/*-------EE---- .front  ,  .back -----------*/
/*-------EE---- .front  ,  .back -----------*/






