---
#staticshade1
---
$left_right_color_1:lightyellow;
$left_right_color_2:lightblue;



$chair_front_back_color_1:orange;
$chair_front_back_color_2:lightgreen;
$chair_left_right_color_1:black;
$chair_left_right_color_2:lightyellow;
$chair_top_bottom_color_1:grey;
$chair_top_bottom_color_2:pink;

$table_front_back_color_1:#cc9966;
$table_front_back_color_2:#d9b38c;
$table_left_right_color_1:#cc9966;
$table_left_right_color_2:#d9b38c;
$table_top_bottom_color_1:#cc9966;
$table_top_bottom_color_2:#d9b38c;

#table_1 figure {
  box-sizing: content-box;
  transform-style: preserve-3d;
  /* background: rgba(0, 0, 0, .5); */
  box-shadow-blend-mode: color-dodge;
  blend-mode: screen;
}

#table_1 figure div {
  background: /* rgba(0, 0, 0, .2); */ brown;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, .5), inset 0px 0px 50px rgba(0, 0, 0, .4);
  box-shadow-blend-mode: color-dodge;
}


.big_three_d_box figure.toper {
  background:  #888; 
  background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
  background-size: 300% 300%;
  animation: wallAnimation 8s linear;
  animation-fill-mode:forwards;
}

.big_three_d_box figure.lefter {

}

.big_three_d_box figure.righter { 
	
}






/*---------------------BB keframes----------------------*/
/*---------------------BB keframes----------------------*/

@keyframes groundAnimation {
  0%,
  100% {
    background-position: 50% 0;
  }
  50% {
    background-position: 100% 50%;
  }
}


@keyframes wallAnimation {
  0%,
  100% {
    background: #888;
   /* background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200%);*/
    background-position: 50% 0%;
  }
  50% {
    background: #111;  
   /* background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 200%);*/
    background-position: 100% 50%;
  }
}
@keyframes shadowAnimation {
  0%,
  100% {
    box-shadow: 0px -100px 100px rgba(0, 0, 0, 1), 0px -20px 20px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);
  }
  50% {
    box-shadow: 100px 0px 100px rgba(0, 0, 0, 1), 20px 0px 20px rgba(0, 0, 0, 1), 0px 0px 5px rgba(0, 0, 0, 1);
  }
}



/*--------EE----table 1 -----------*/
 
#table_1{
  figure.top, figure.bottom {
    background:  #888; 
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: top-bottom-animation-table 8s linear;
    animation-fill-mode:forwards;
    @keyframes top-bottom-animation-table {
      0%,
      100% {
        background:$table_top_bottom_color_1;
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 400% 400%;
        background-position: 50% 0;
      }
      50% {
        background:$table_top_bottom_color_2;  
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 300% 300%;
        background-position: 100% 50%;
      }
    }
  }	  
}


/*------- -----------*/


#table_1{
  figure.left, figure.right {
    background:  #888; 
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: left-right-animation-table 8s linear;
    animation-fill-mode:forwards;
    @keyframes left-right-animation-table {
      0%,
      100% {
        background:$table_left_right_color_1;
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 400% 400%;
        background-position: 50% 0;
      }
      50% {
	background:$table_left_right_color_2;  
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 300% 300%;
        background-position: 100% 50%;
      }
    }
  }	  
}


/*------- -----------*/


#table_1{
  figure.front, figure.back {
    background:  #888; 
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: front-back-animation-table 8s linear;
    animation-fill-mode:forwards;
    @keyframes front-back-animation-table {
      0%,
      100% {
        background:$table_front_back_color_1;
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 400% 400%;
        background-position: 50% 0;
      }
      50% {
        background:$table_front_back_color_2;  
        background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);
        background-size: 300% 300%;
        background-position: 100% 50%;
      }
    }
  }
}

/*--------EE----table 1 -----------*/




/*-------EE---- chair 1 -----------*/

#chair_1{
  figure.top, figure.bottom {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: top-bottom-animation-chair 8s linear;
    animation-fill-mode:forwards;
    @keyframes top-bottom-animation-chair {
      0%,
      100% {
        background:$chair_top_bottom_color_1;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 400% 400%;background-position: 50% 0;
      }
      50% {
        background:$chair_top_bottom_color_2;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 300% 300%;background-position: 100% 50%;
      }
    }
  }	  
}


/*------- -----------*/


#chair_1{
  figure.left, figure.right {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: left-right-animation-chair 8s linear;
    animation-fill-mode:forwards;
    @keyframes left-right-animation-chair {
      0%,
      100% {
        background:$chair_left_right_color_1;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 400% 400%;background-position: 50% 0;
      }
      50% {
	      background:$chair_left_right_color_2;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 300% 300%;background-position: 100% 50%;
      }
    }
  }	  
}


/*------- -----------*/

#chair_1{
  figure.front, figure.back {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: front-back-animation-chair 8s linear;
    animation-fill-mode:forwards;
    @keyframes front-back-animation-chair {
      0%,
      100% {
        background: $chair_front_back_color_1;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 400% 400%;background-position: 50% 0;
      }
      50% {
        background: $chair_front_back_color_2;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 300% 300%;background-position: 100% 50%;
      }
    }
  }
}


/*-------BB---- window_style_1 -----------*/

.window_style_1{
  figure.front, figure.back {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: front-back-animation-window1 8s linear;
    animation-fill-mode:forwards;
    @keyframes front-back-animation-window1 {
      0%,
      100% {
        background: grey;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 400% 400%;background-position: 50% 0;
      }
      50% {
        background: red;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 300% 300%;background-position: 100% 50%;
      }
    }
  }
}



.window_style_1{
  figure.left, figure.right {
    background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    background-size: 300% 300%;
    animation: front-back-animation-window1 8s linear;
    animation-fill-mode:forwards;
    @keyframes front-back-animation-window1 {
      0%,
      100% {
        background: grey;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 400% 400%;background-position: 50% 0;
      }
      50% {
        background: red;background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .5) 200%);background-size: 300% 300%;background-position: 100% 50%;
      }
    }
  }
}

/*-------EE---- window_style_1 -----------*/
