---
#scenesetter
---

@mixin preserve_3d ($arguments) {
  -webkit-transform-style: $arguments;
  -moz-transform-style: $arguments;
  -o-transform-style: $arguments;
  transform-style: $arguments;
}

figure {
  /* border:1px solid black; */
}


#table_1 .my_slab figure  {background:brown;}
/* #chair_1 .my_slab figure, #table_1 .my_slab figure  {
border:1px solid black;
  } */
#chair_1 .my_slab .back, #chair_1 .my_slab .left, #chair_1 .my_slab .top   {
border-left:1px solid black;
  }
#chair_1 .my_slab .back, #chair_1 .my_slab .left, #chair_1 .my_slab .top   {
border-top:1px solid black;
  }
#chair_1_shadow .my_slab figure {
border:none;
  }


@keyframes infinite-spinning-with-rotation {
  from {
    transform:  rotate(0deg);
  }
  to {
    transform: rotate(290deg);
  }
}


@keyframes infinite-spinning {
  from {
    transform: rotate(43deg);
  }
  to {
    transform: rotate(403deg);
  }
}















