---
---
$slab_color: yellow;


/* --begin constants --*/

@mixin backface_visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}
@mixin preserve_3d ($arguments) {
  -webkit-transform-style: $arguments;
  -moz-transform-style: $arguments;
  -o-transform-style: $arguments;
  transform-style: $arguments;
}
.preserve3d{
  @include preserve_3d(preserve-3d);
}
/* --end constants --*/

/*begin general shapebuilding rules --*/

 .my_slab .panels-backface-invisible figure, .torw figure { @include backface_visibility(hidden)}
 .my_slab { 
   @include preserve_3d(preserve-3d);
   width: 100%;
   height: 100%; 
   position:absolute;
}   
 .my_slab figure {

    display: block;
    margin: 0;
    position: absolute;
    border: 1px solid black;
    opacity: .5; 
  }
  
  



.torw {
  $width: 10vw;$height: 10vw;$depth: 20vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );background:black;}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );background:lightgreen;}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );background:purple;}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );/*background:orange;*/}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );background:red;}
}

