@charset "UTF-8";
/* CSS Document */


/*---------------------------------
	Crane
---------------------------------*/

.crane {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
}

.crane .face {
	position: absolute;
	background:lightgreen;
}

.crane .wing-2a {
	width: 132px;
	height: 346px;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-131px, -346px, 60px) rotateX(-50deg) rotateY(-10deg);
}

.crane .wing-2b {
	width: 132px;
	height: 346px;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(0, -346px, 60px) rotateX(-50deg) rotateY(10deg);
}

