---
#slabs
---
$slab_color: yellow;
div {
  position: absolute;
}


/* --begin constants --*/

@mixin backface_visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}
@mixin preserve_3d ($arguments) {
  -webkit-transform-style: $arguments;
  -moz-transform-style: $arguments;
  -o-transform-style: $arguments;
  transform-style: $arguments;
}
.preserve3d{
  @include preserve_3d(preserve-3d);
}
/* --end constants --*/

/*begin general shapebuilding rules --*/

 .my_slab .panels-backface-invisible figure { @include backface_visibility(hidden)}
 .my_slab { 
   @include preserve_3d(preserve-3d);
   width: 100%;
   height: 100%; 
   position:absolute;
}   
 .my_slab figure {
    background:$slab_color;
    display: block;
    margin: 0;
    position: absolute;
    border: none;
    opacity: 1; 
  }

/*end general shapebuilding rules --*/


/*begin building Individual Shapes --*/


.w_28_h_20_d_1 {
  $width: 28vw;$height: 20vw;$depth: 1vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
	
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}





/*---------------------------------

	Crane

---------------------------------*/

.crane {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(-15deg) rotateY(-42deg);
}


.crane .face {
	position: absolute;
	background: url(../images/texture-2.png) #ff0;
}


.crane .wing-1a {
	width: 132px;
	height: 346px;
	-webkit-mask: url(../images/crane/wing-a.svg) no-repeat;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-131px, -346px, -60px) rotateX(50deg) rotateY(10deg);
}

.crane .wing-1b {
	width: 132px;
	height: 346px;
	-webkit-mask: url(../images/crane/wing-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(0, -346px, -60px) rotateX(50deg) rotateY(-10deg);
}

.crane .wing-1c {
	width: 132px;
	height: 105px;
	-webkit-mask: url(../images/crane/wing-c.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-128px, -22px, -34px) rotateY(6deg) rotateX(9deg);
}

.crane .wing-1d {
	width: 132px;
	height: 105px;
	-webkit-mask: url(../images/crane/wing-d.svg) no-repeat;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-1px, -22px, -34px) rotateY(-6deg) rotateX(9deg);
}

.crane .wing-2a {
	width: 132px;
	height: 346px;
	-webkit-mask: url(../images/crane/wing-a.svg) no-repeat;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-131px, -346px, 60px) rotateX(-50deg) rotateY(-10deg);
}

.crane .wing-2b {
	width: 132px;
	height: 346px;
	-webkit-mask: url(../images/crane/wing-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(0, -346px, 60px) rotateX(-50deg) rotateY(10deg);
}

.crane .wing-2c {
	width: 132px;
	height: 105px;
	-webkit-mask: url(../images/crane/wing-c.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-128px, -22px, 34px) rotateY(-6deg) rotateX(-9deg);
}

.crane .wing-2d {
	width: 132px;
	height: 105px;
	-webkit-mask: url(../images/crane/wing-d.svg) no-repeat;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-1px, -22px, 34px) rotateY(6deg) rotateX(-9deg);
}

.crane .body-1a {
	width: 132px;
	height: 246px;
	-webkit-mask: url(../images/crane/body-a.svg) no-repeat;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-130px, -163px, 0) rotateY(15deg);
}

.crane .body-1b {
	width: 132px;
	height: 246px;
	-webkit-mask: url(../images/crane/body-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(0, -163px, 0) rotateY(-15deg);
}

.crane .body-1c {
	width: 132px;
	height: 246px;
	-webkit-mask: url(../images/crane/body-a.svg) no-repeat;
	-webkit-transform-origin: bottom right;
	-webkit-transform: translate3d(-130px, -163px, 0) rotateY(-15deg);
}

.crane .body-1d {
	width: 132px;
	height: 246px;
	-webkit-mask: url(../images/crane/body-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(0, -163px, 0) rotateY(15deg);
}

.crane .neck-a {
	width: 230px;
	height: 277px;
	-webkit-mask: url(../images/crane/neck-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-1px, -194px, 7px) rotateY(-12deg) rotateX(11deg);
}

.crane .neck-b {
	width: 230px;
	height: 277px;
	-webkit-mask: url(../images/crane/neck-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-1px, -194px, -7px) rotateY(12deg) rotateX(-11deg);
}

.crane .head-a {
	width: 95px;
	height: 35px;
	-webkit-mask: url(../images/crane/head-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(208px, -188px, -4px) rotateX(-8.5deg) rotateY(-2deg) rotateY(-1deg);
}

.crane .head-b {
	width: 95px;
	height: 35px;
	-webkit-mask: url(../images/crane/head-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(208px, -188px, 2px) rotateX(8.5deg) rotateY(1deg);
}

.crane .tail-a {
	width: 127px;
	height: 397px;
	-webkit-mask: url(../images/crane/tail-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-90px, -269px, 33px) rotateY(12.5deg) rotateX(9.45deg) rotateZ(-37deg);
}

.crane .tail-b {
	width: 127px;
	height: 397px;
	-webkit-mask: url(../images/crane/tail-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-90px, -269px, -34px) rotateY(-12.5deg) rotateX(-9.45deg) rotateZ(-37deg);
}

.crane .base-a {
	width: 172px;
	height: 61px;
	-webkit-mask: url(../images/crane/base-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-2px, -8px, 1px) rotateX(90deg) rotateY(12deg);
}

.crane .base-b {
	width: 172px;
	height: 61px;
	-webkit-mask: url(../images/crane/base-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-2px, -8px, -1px) rotateX(90deg) rotateY(12deg) rotateX(180deg);
}

.crane .base-c {
	width: 172px;
	height: 61px;
	-webkit-mask: url(../images/crane/base-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-2px, -8px, 1px) rotateX(90deg) rotateY(12deg) rotateY(180deg);
}

.crane .base-d {
	width: 172px;
	height: 61px;
	-webkit-mask: url(../images/crane/base-a.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-2px, -8px, 1px) rotateX(90deg) rotateY(12deg) rotateY(180deg) rotateX(180deg);
}

.crane .base-e {
	width: 22px;
	height: 107px;
	-webkit-mask: url(../images/crane/base-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(130px, -23px, 52px) rotateY(90deg) rotateX(5deg);
}

.crane .base-f {
	width: 22px;
	height: 107px;
	-webkit-mask: url(../images/crane/base-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(130px, -23px, -52px) rotateY(-90deg) rotateX(-5deg);
}

.crane .base-g {
	width: 22px;
	height: 107px;
	-webkit-mask: url(../images/crane/base-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-128px, -23px, 52px) rotateY(90deg) rotateX(-5deg);
}

.crane .base-h {
	width: 22px;
	height: 107px;
	-webkit-mask: url(../images/crane/base-b.svg) no-repeat;
	-webkit-transform-origin: bottom left;
	-webkit-transform: translate3d(-128px, -23px, -52px) rotateY(-90deg) rotateX(5deg);
}




