---
#fff
---

.crane {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(-15deg) rotateY(-42deg);
}

.crane .face {
  position: absolute;
  background:lightgreen;
}

.crane .wing-2a {
  width: 132px;
  height: 346px;
  -webkit-transform-origin: bottom right;
  -webkit-transform: rotateX(-50deg) rotateY(-10deg);
}

.crane .wing-2b {
  width: 132px;
  height: 346px;
  -webkit-transform-origin: bottom left;
  -webkit-transform: rotateX(-50deg) rotateY(10deg);
}



/*---my stuff attempts----*/
