---
#slabs
---
$slab_color: yellow;
div {
  position: absolute;
}


/* --begin constants --*/

@mixin backface_visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}
@mixin preserve_3d ($arguments) {
  -webkit-transform-style: $arguments;
  -moz-transform-style: $arguments;
  -o-transform-style: $arguments;
  transform-style: $arguments;
}
.preserve3d{
  @include preserve_3d(preserve-3d);
}
/* --end constants --*/

/*begin general shapebuilding rules --*/

 .my_slab .panels-backface-invisible figure { @include backface_visibility(hidden)}
 .my_slab { 
   @include preserve_3d(preserve-3d);
   width: 100%;
   height: 100%; 
   position:absolute;
}   
 .my_slab figure {
    background:$slab_color;
    display: block;
    margin: 0;
    position: absolute;
    border: none;
    opacity: 1; 
  }

/*end general shapebuilding rules --*/


/*begin building Individual Shapes --*/


.w_28_h_20_d_1 {
  $width: 28vw;$height: 20vw;$depth: 1vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
	
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}





.cranedddd {
  $width: 28vw;$height: 40vw;$depth: 21vw; /*set dimensions here */ 
  position: absolute;
  top: -90%;
  left: 40%;
  margin-top: 50px;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotate(22deg);
  .face {
    background:green;
    position: absolute;    
    display: block;    
    margin: 0;
  }
	  
  .wing-1, .wing-2 { width: $width;height: $height;}
  .wing-3, .wing-4 { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .wing-5, .wing-6 {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
	  
  .wing-1 {	
    -webkit-transform: rotateY(0deg) translateZ( $depth/2 );
  }
  .wing-2 {	
    -webkit-transform: rotateX(180deg) translateZ( $depth/2 );
  }
  .wing-3 {	
    -webkit-transform: rotateY(90deg) translateZ( $width/2 );
  }
  .wing-4 {	
    -webkit-transform: rotateY(-90deg) translateZ( $width/2 );
  }
  .wing-5 {	
    -webkit-transform: rotateX(90deg) translateZ( $height/2 );
  }
  .wing-6 {	
    -webkit-transform: rotateX(-90deg) translateZ( $height/2 );
  }
}


.crane {position: absolute;animation: infinite-spinning 20s linear;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: rotateX(-15deg) rotateY(-42deg);
}
.crane .face {position: absolute;
	background:lightgreen;
}
.crane .wing-1 {
	width: 280px;
	height: 200px;
	-webkit-transform: rotateX(-50deg) rotateY(-10deg);
}
.crane .wing-2 {
	width: 280px;
	height: 200px;
	-webkit-transform-origin: bottom left;
	-webkit-transform: rotateX(-50deg) rotateY(10deg);
}

