---
#love
---
$keyZ:10vw;
$zunny: $keyZ/ 2 ;
$widthclass9: 9;
$widthclass17: w_17;




/*--------*/



$class-widthybean: widthhh_ !default;
$class-heighty: height_ !default;
$class-depthy: depth_ !default;

@for $i from 1 through 4{
  .#{$class-widthybean}#{$i} {
    $width_retard: $i ;
    width: $width_retard;
    height: $width_retard;
    }

  .#{$class-heighty}#{$i} {
    $height_retard: $i ;
      .slab_tester {
        $height: $height_retard;
        height: $height_retard + vw;
      }
    }

  .#{$class-depthy}#{$i} {
    $depth_retard: $i ;
      .slab_tester {
        $depth: $depth_retard;
        height: $depth_retard + vw;
      }
    }

}





.bunny {
  $width:9vw;

    .slab_test {  

    $height: 7vw;
    $depth: 14vw;
    width: 100%;
    height: 100%; 
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
 
    figure {
      display: block;
      margin: 0;
      position: absolute;
      opacity: 1; 
    }
  
    .panels-backface-invisible figure {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -o-backface-visibility: hidden;
      backface-visibility: hidden; 
    }
  
    .front, .back { 
      width: $width;
      height: $height;
    }
    .right, .left { 
      width: $depth;
      height: $height;
      left: ($width - $depth)/2 ;
    }
    .top, .bottom {
      width: $width;
      height: $depth;
      top: ($height - $depth)/2 ;
    }
  
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 ); background:red; }
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 ); background:red; }
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 ); background:red; }
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 ); background:red; }
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 ); background:red; }
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 ); background:red; }
} /*--end slab --*/

}/*--end bunny --*/
