---
#love
---
$keyZ:10vw;
$zunny: $keyZ/ 2 ;
$widthclass9: 9;
$widthclass17: w_17;




/*--------*/



/*--begin--generate list of classes to set width height and depth on .my_slab --*/

$class-widthy: width_ !default;
$class-heighty: height_ !default;
$class-depthy: depth_ !default;

@for $i from 1 through 100{
  
  .#{$class-widthy}#{$i} {
    $width_retard: $i ;
    $width: $width_retard;
    $height_retard: $i ;
    $height: $height_retard;
    $depth_retard: $i ;
    $depth: $depth_retard;
    .slab_test {
      $height: $height_retard;
      $width: $width_retard;
      $depth: $depth_retard;            
      .front, .back { 
      $width: $width_retard;
      $height: $height_retard;
      width: $width;
      height: $height;
      }
      
      .right, .left { 
       $width: $width_retard;
       $height: $height_retard;
       $depth: $depth_retard;
       width: $width;
       height: $height;
       left: ($width - $depth)/2 ;
      }
      
      .top, .bottom {
       $width: $width_retard;
       $height: $height_retard;
       $depth: $depth_retard;
       width: $width;
       height: $depth;
       top: ($height - $depth)/2 ;
      }
      
      .front  { transform: rotateY(   0deg ) translateZ( $depth/2 ); background:red; }
      .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 ); background:red; }
      .right  { transform: rotateY(  90deg ) translateZ( $width/2 ); background:red; }
      .left   { transform: rotateY( -90deg ) translateZ( $width/2 ); background:red; }
      .top    { transform: rotateX(  90deg ) translateZ( $height/2 ); background:red; }
      .bottom { transform: rotateX( -90deg ) translateZ( $height/2 ); background:red; }
      
    }/* end slab test */

    }

  .#{$class-heighty}#{$i} {
    $height_retard: $i ;
    $height: $height_retard;
    height: $height_retard + vw;
    }

  .#{$class-depthy}#{$i} {
    $depth_retard: $i ;
    $depth: $depth_retard;
    height: $depth_retard + vw;
    }

}

/*--end --generate list of classes to set width height and depth on .my_slab --*/












