---
#pagemaster1
---


#foz{
  position:fixed;
  top:0;bottom:0;left:0;right:0;
  z-index:9999;
  height:100%;
  width:100%;
}

#div_left {
  margin:0;position:fixed;
  left:0;top:0;  transform-style: preserve-3d;   
  height:20%;width:50%;
  background-color: red;
  -webkit-transform: rotateY(45deg); /* Chrome, Safari, Opera  */
  transform: rotateY(45deg);
  .window{
     transform-style: preserve-3d;
     height:10%;width:10%;background:white;positon:absolute;top:0;left:5%;
  }   
}

.bigbox{
  width:100%;
  margin:0 auto;
  height:100%;
  overflow:hidden;
  border:none;
  position:relative;
}

.billybox{
  background:none;
  width:100%;
  height:60%;
  bottom:0vw;
  position:absolute;
  margin:0 auto; z-index:99;
}

.billybox .me{
  background:transparent;
  width:100%;
  height:160%;
  transform-style: preserve-3d; 
  position: absolute;z-index:9999;}

.relfloorbox {  
  background:none;
  width:100%;
  height:100%;
  bottom:0vw;
  position:absolute;
  margin:0 auto; z-index:9;
    .me{
      background:pink;
      width:100%;left:0;
      height:160%;
      opacity:1;z-index:10;
      transform-style: preserve-3d; 
      position: absolute;
    }
      .me2{
      background:blue;
      width:126%;left:-13%;
      height:100%;
      opacity:1;z-index:11;
      transform-style: preserve-3d; 
      position: absolute;
    }
 }




.bigbox, .billybox, .relfloorbox, .div_left{
  perspective: 41em;
}

.relfloorbox .me, .billybox .me {
  transform:rotateX(70deg);
}
.relfloorbox .me2, {
  transform:rotateX(-190deg) translateZ(190vh) 

}


