---
#myroomshapes1
---

.big_three_d_box { 
  /*left:9vw;*/ top:5vw;
  $width: 55vw;$height: 35vw;$depth: 40vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .fronter, .backer { width: $width;height: $height;}
  .righter, .lefter, .lefter_2 { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .toper, .bottomer {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .fronter  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .backer   { transform: rotateX( 180deg ) translateZ(  $depth/2 );/*background:black;*/}
  .righter  { 
    transform: rotateY(  90deg ) translateZ( $width/2 );
   /* background:grey;
    background: url("/responsive_shapes/images/painting.jpg");
    background-repeat:repeat;
    background-size:contain;*/
  }
  .lefter{ 
    transform: rotateY( -90deg ) translateZ( $width/2 ); 
  }
  .lefter_2{ 
    transform: rotateY( -90deg ) translateZ( $width/2 );
  }
  .toper    { transform: rotateX(  90deg ) translateZ( $height/2 );background:orange;}
  .bottomer { 
    transform-style:preserve-3d;
    transform: rotateX( -90deg ) translateZ( $height/2 );
   /* background:red; */
    background-image: url("/responsive_shapes/images/tile_fl.jpg");
    background-repeat:repeat;
    background-size:contain;
  }
}




.window_1_slab {
  $width: 13vw;$height: 2vw;$depth: 19vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );background:orange;}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );background:lightblue;}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );background:red;}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );background:blue;}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 + .25vw);background:green;  opacity:.5;}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 - .25vw );background:lightgreen;    opacity:.5;}
}


.w_5_h_5_d_10 { left:10vw;transform:translateZ(30vw);
  $width: 5vw;$height: 5vw;$depth: 10vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}


.w_10_h_5_d_5 { left:10vw;top:10vw;
  $width: 10vw;$height: 5vw;$depth: 5vw; /*set dimensions here */ 
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}

.w_5_h_10_d_5 {
  $width: 5vw;$height: 10vw;$depth: 5vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}


.w_pnt5_h_pnt5_d_8 {
  $width: .5vw;$height: .5vw;$depth: 8vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}


.w_10_h_4_d_pnt5 {
  $width: 10vw;$height: 4vw;$depth: .5vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}


.w_10_h_10_d_pnt5 {
  $width: 10vw;$height: 10vw;$depth: .5vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}


.w_28_h_20_d_1 {
  $width: 28vw;$height: 20vw;$depth: 1vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}
