---
#slabs
---
$slab_color: yellow;


/* --begin constants --*/

@mixin backface_visibility ($arguments) {
  -webkit-backface-visibility: $arguments;
     -moz-backface-visibility: $arguments;
      -ms-backface-visibility: $arguments;
       -o-backface-visibility: $arguments;
          backface-visibility: $arguments;
}
@mixin preserve_3d ($arguments) {
  -webkit-transform-style: $arguments;
  -moz-transform-style: $arguments;
  -o-transform-style: $arguments;
  transform-style: $arguments;
}
.preserve3d{
  @include preserve_3d(preserve-3d);
}
/* --end constants --*/

/*begin general shapebuilding rules --*/

 .my_slab .panels-backface-invisible figure { @include backface_visibility(hidden)}
 .my_slab { 
   @include preserve_3d(preserve-3d);
   width: 100%;
   height: 100%; 
   position:absolute;
}   
 .my_slab figure {
    background:$slab_color;
    display: block;
    margin: 0;
    position: absolute;
    border: none;
    opacity: 1; 
  }

/*end general shapebuilding rules --*/




/*begin building Individual Shapes --*/

.w_pnt5_h_pnt5_d_6 {
  $width: .5vw;$height: .5vw;$depth: 6vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}

.w_pnt5_h_pnt5_d_8 {
  $width: .5vw;$height: .5vw;$depth: 8vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}

.w_pnt5_h_pnt5_d_8 {
  $width: .5vw;$height: .5vw;$depth: 8vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { 
    transform: rotateY(   0deg ) translateZ( $depth/2 );
   -webkit-box-shadow: 29px 33px 49px 1px rgba(0,0,0,0.75);
   -moz-box-shadow: 29px 33px 49px 1px rgba(0,0,0,0.75);
    box-shadow: 29px 33px 49px 1px rgba(0,0,0,0.75);
  }
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { 
    transform: rotateX( -90deg ) translateZ( $height/2 );
  }
}

.w_1_h_1_d_10 {
  $width: 1vw;$height: 1vw;$depth: 10vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}

.w_10_h_10_d_pnt5 {
  $width: 10vw;$height: 10vw;$depth: .5vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}

.w_10_h_10_d_1 {
  $width: 10vw;$height: 10vw;$depth: 1vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}

.w_28_h_20_d_1 {
  $width: 28vw;$height: 20vw;$depth: 1vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}

.w_12_h_17_d_37 {
  $width: 12vw;$height: 17vw;$depth: 37vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}

.crane {
  $width: 12vw;$height: 17vw;$depth: 37vw; /*set dimensions here */ 
  transform:translateZ($depth/2);
  .front, .back { width: $width;height: $height;}
  .right, .left { width: $depth; height: $height;left: ($width - $depth)/2 ;}
  .top, .bottom {width: $width;height: $depth;top: ($height - $depth)/2 ;} 
  .front  { transform: rotateY(   0deg ) translateZ( $depth/2 );}
  .back   { transform: rotateX( 180deg ) translateZ(  $depth/2 );}
  .right  { transform: rotateY(  90deg ) translateZ( $width/2 );}
  .left   { transform: rotateY( -90deg ) translateZ( $width/2 );}
  .top    { transform: rotateX(  90deg ) translateZ( $height/2 );}
  .bottom { transform: rotateX( -90deg ) translateZ( $height/2 );}
}


/*end building Individual Shapes --*/

