---
#furniture
---

/* --begin table (30 x 20 x 8.5)(.5 x .5 x 8 legs) --*/
.mid_century_table_1{
  .tabletop_1{transform:translateZ(5vw);}
  .tabletop_2{transform:translateZ(7.5vw);}
  .leg_1{left:2vw;top:2vw;}
  .leg_2{left:27vw;top:2vw;}
  .leg_3{left:2vw;top:19vw;}
  .leg_4{left:27vw;top:17vw;}
}
/* --end table (30 x 20 x 8.5)(.5 x .5 x 8 legs) --*/




.furniture_base{
  $base_width:28vw; /* X cordinate */
  $base_height:20vw; /* Y cordinate */
  $base_depth:8vw; /* Z cordinate */
  $leg_indent_size:1vw;
  $leg_width:.5vw; /*at the moment this variable must be updated manually */
  $horizontal_1_height_from_base: ($base_depth / 2) + 1;
  $horizontal_2_height_from_base: ($base_depth);
  
  .tabletop_1{
    transform:translateZ($horizontal_1_height_from_base);
  }
  .tabletop_2{
    transform:translateZ($horizontal_2_height_from_base);
  }
  .leg_1{
    left:$leg_indent_size;
    top:$leg_indent_size;
  }
  .leg_2{
    left:($base_width) - ($leg_width + $leg_indent_size);
    top:$leg_indent_size;
  }
  .leg_3{
    left:$leg_indent_size;
    top:($base_height) - ($leg_width + $leg_indent_size);
  }
  .leg_4{
    left:($base_width) - ($leg_width + $leg_indent_size);
    top:($base_height) - ($leg_width + $leg_indent_size);
  }
}

