---
#furniture
---

.my__rectangle_1{
  left:32vw;top:-20vw;
  position:absolute;margin:0;padding:0;
  transform-style: preserve-3d;
  transform:rotate(0deg) rotateY(0deg);
  
/*
 animation: rot 27s linear infinite;
*/
  }


#my__rectangle_2 {
  left:32vw;top:4vw;width:2vw;position:absolute;margin:0;padding:0;
  transform-style: preserve-3d;
  transform:rotate(127deg) rotateY(0deg);

/*
 animation: rot 27s linear infinite;
*/
}

#my__rectangle_3 {
  left:82vw;top:3vw;width:2vw;position:absolute;margin:0;padding:0;
  transform-style: preserve-3d;
  transform:rotate(127deg) rotateY(0deg);

/*
 animation: rot 27s linear infinite;
*/
}

#table__master .leg_1{left:0vw;top:0;border:10px solid green;}
#table__master .leg_2{left:5vw;top:0;}
#table__master .leg_3{left:0vw;top:5vw;}
#table__master .leg_4{left:5vw;top:5vw;}
