---
#furniture
---

/* --begin table (30 x 20 x 8.5)(.5 x .5 x 8 legs) --*/
#mid_century_table_1 {
  .tabletop_1{transform:translateZ(5vw);}
  .tabletop_2{transform:translateZ(7.5vw);}
  .leg_1{left:2vw;top:2vw;}
  .leg_2{left:27vw;top:2vw;}
  .leg_3{left:2vw;top:19vw;}
  .leg_4{left:27vw;top:17vw;}
}
/* --end table (30 x 20 x 8.5)(.5 x .5 x 8 legs) --*/


#basic_chair_1{

    $square_size:20vw;
    $indent_size:2vw;
  
    .leg_1{left:0vw;top:0vw;}
    .leg_2{left:20vw;top:2vw;}
    .leg_3{left:0vw;top:19vw;}
    .leg_4{right:20vw;top:19vw;}

}
